@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@blueprintjs/table/lib/css/table.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@layer base {
	:root {
	}
}


[data-overlay-container=true] {
	height: 100%;
	width: 100%;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background-color: #EDEDED;
}

::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #6c5c09;
}
/*
Example With custom prefix
.my-component {
  padding: var(--euromanaus-spacing-unit-4);
  font-size: var(--euromanaus-font-size-small);
  line-height: var(--euromanaus-line-height-small);
  border-radius: var(--euromanaus-radius-medium);
}
*/


/*
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
*/